Out/
RabbitMQ.v11.suo
packages/RabbitMQ.Client.3.4.3/
Source/RMQ.Consumer/obj/
Source/RMQ.Producer/obj/
Source/RMQ.Core/obj/
*.user
Source/RMQ.Contract/obj/
Source/RMQ.Service/obj/
packages/Nelibur.3.1.6/
packages/Nelibur.Sword.3.1.6/
Source/RMQ.Client/obj/
*.suo
Source/RMQ.Tests/obj/
packages/xunit.2.0.0/
packages/xunit.core.2.0.0/
packages/xunit.extensibility.core.2.0.0/
packages/xunit.abstractions.2.0.0/
packages/xunit.assert.2.0.0/
packages/xunit.runner.visualstudio.2.0.0/
