Out/
RabbitMQ.v11.suo
packages/RabbitMQ.Client.3.4.3/
Source/RMQ.Consumer/obj/
Source/RMQ.Producer/obj/
Source/RMQ.Core/obj/
*.user
Source/RMQ.Contract/obj/
Source/RMQ.Service/obj/
packages/Nelibur.3.1.6/
packages/Nelibur.Sword.3.1.6/
Source/RMQ.Client/obj/
